@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'github-markdown-css';

@font-face {
  font-family: 'MonoplexKR';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_Monoplex-kr@1.0/MonoplexKR-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
    font-family: 'MonoplexKR';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_Monoplex-nerd@1.0/MonoplexKRNerd-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

@media (min-width: 1024px) {
  .markdown-body img {
    max-width: 50%;
    margin: auto;
  }
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 223, 239, 254;
  --background-end-rgb: 249, 243, 238;
  min-height: 100%;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.katex-display {
  margin: 16px;
}

.katex-html {
  display: none;
}
